.app {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cash {
  font-size: 32px;
}

.customers {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.customer {
  border: 2px solid #ccc;
  box-shadow: 10px 5px 5px black;
  font-size: 30px;
  margin-top: 10px;
}

.comment-name {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.comment-body {
  font-size: 10px;
  color: green;
}
